# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/

# Data and Reports
data/healthcare_raw.csv
visuals/*.png
reports/reflections.txt
reports/*.log
reports/drift_report.html
mlruns/
mlflow.db
models/*.joblib
.pytest_cache/
.tmp/
.env
!.env.example

# IDEs
.vscode/
.idea/
